html, body {
    font-family: 'BYekan', sans-serif;
    direction: rtl;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.fa{
    font-family: 'BYekan', sans-serif !important;
    direction: rtl !important;
}
.en{
    font-family: sans-serif,tahoma , Tahoma;
    direction:ltr;
    text-align: left;
}
.invisible.no-take-place {
    display: none;
}


.myTop{
    margin-top: 20px;
}