@font-face {
    font-family: 'BRoya';
    src: url('../fonts/BRoya.eot');
    src: url('../fonts/BRoya.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BRoya.woff') format('woff'),
    url('../fonts/BRoya.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
